<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8" />
  <title>白桜会</title>
  <link rel="stylesheet" href="style.css">
</head>
  <body>
    <h1>第2回白桜杯オール学習院フットサル大会</h1>
    <p>2017学習院大学フットサル部白衣軍・白桜会キックオフパーティー</p>
    <p class = "title">2017学習院大学フットサル部白衣軍・白桜会キックオフパーティー</p>
  </body>
</html>