<!DOCTYPE HTML>
<html>
<head>
  <meta charset="UTF-8" />
  <title>chartist</title>
  <link rel="stylesheet" href="style.css">
</head>
  <body>
    <h1>岡本式</h1>
    <p>カギ足</p>
    <p class = "title">カギ足売買メソッド</p>
  </body>
</html>