<p>Chartist</p>

<p>株価チャートの見方</p>
<p>このウェブサイトは、投資判断の提供を目的としたものではなく、一般的なチャート分析の手法について記したものです。</p>
<p>チャート分析は過去の株価の動きを表現したものであり、将来の動きを保証するものではありません。また記載されている内容は、一般的に認識されている見方について記したものですが、チャートの見方には解釈の違いもあります。</p>
<p>銘柄の選択、投資の最終決定は、ご自身のご判断で行ってください。</p>
<p>なお、使用するデータ及び表現等ん欠落・誤謬等につきましてはその責を負いかねますのでご了承ください。</p>
<p>この資料のいかなる部分も一切の権利はChartistに属しており電子的または機械的な方法を問わず、いかなる目的であれ無断で複製または転送等はできません。</p>

<%= @top %>
